html,header, body.vscode-dark {
  font-size: 16px;
  background-color: var(--vscode-editor-background);
}

.App {

  text-align: center;
  margin-bottom: 0.5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

