html,header, body {
margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--vscode-editor-background);
}

.App {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    background-color: var(--vscode-editor-background);
}

.App-header {
  background-color: #222;
  padding-top: 20px;
    padding-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

