:root {
    stroke: var(--vscode-statusBarItem-remoteBackground);
}

.sprotty-graph {
    background: var(--vscode-editor-background);
}

.sprotty-node {
    fill: var(--vscode-textBlockQuote-background);
    stroke: var(--vscode-editor-foreground);
    stroke-width: 1;
    border-radius: '5px';
}

.sprotty-resize-handle.selected{
    fill: var(--vscode-statusBarItem-remoteBackground);
}

.label.sprotty-label, .Attribute.sprotty-label{
    fill: var(--vscode-editor-foreground);
}

.sprotty-edge {
    stroke: var(--vscode-editor-foreground);
}

.sprotty-edge.arrow {
    fill: var(--vscode-editor-foreground);
}

.sprotty-edge.selected {
    stroke: var(--vscode-statusBarItem-remoteBackground);
}

.sprotty-edge.selected > .arrow {
    stroke: var(--vscode-statusBarItem-remoteBackground);
}

.sprotty-node:not(.selected) {
    stroke: var(--vscode-editor-foreground);
    stroke-width: 1;
}

polygon.sprotty-node {
    stroke: var(--vscode-editor-foreground);
}

.sprotty-node.selected {
    stroke: var(--vscode-statusBarItem-remoteBackground);
}

.bordered-projection-bar {
    border-color: #a1a1a1;
}

.sprotty-viewport {
    border-width: 1px;
    border-color: #555555;
}

.sprotty-projection-bar.horizontal.bordered-projection-bar {
    height: 15px;
}

.sprotty-projection-bar.vertical.bordered-projection-bar {
    width: 15px;
}

.projection-scroll-bar {
    background-color: #555555;
}


.nmeta-context-menu {
    background-color: #dee2e6;
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 1px solid #adb5bd;
    border-radius: 3px;
    padding: 1px;
}

.nmeta-context-menu-item {
    background-color: #dee2e6;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 100px;
    font-family: sans-serif;
    cursor: default;
}

.nmeta-context-menu-item.disabled-action {
    color: darkgray;
}

.nmeta-context-menu-item:empty {
    padding: 0px;
    border-bottom: 1.5px solid #adb5bd;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.nmeta-context-menu-item:hover:not(.disabled-action) {
    color: green;
}
